<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037094854313-v3es9bcr723dfcpe58uaesh384omnv33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037094854313-v3es9bcr723dfcpe58uaesh384omnv33</string>
	<key>API_KEY</key>
	<string>AIzaSyDl4TYzSr4Ruanro2CUbaR8r5UBYqLoQ2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1037094854313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>playlist-ae81d</string>
	<key>STORAGE_BUCKET</key>
	<string>playlist-ae81d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037094854313:ios:bb60f3dfed80c2787953b8</string>
</dict>
</plist>